body{
    margin: 0 auto;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.75rem;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    color: #64a2d9
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #809ab0;
    font-size: 1.35rem;
    margin-bottom: -5px;
}

h5 {
    font-family: 'Source Sans Pro', sans-serif;
}

h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-family: 'Source Serif Pro', serif;
    color: #1a2b31;
    font-weight: 400;
    font-size: .9rem;
    
}


.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 120px 50px 120px  400px 400px 105px;
}




header {
    background: #a5c6e3;
    color: white;
    text-align: center;
    grid-row: 1;
    grid-column: 1 / 15;
}


ul {
    width: 100%;
    text-decoration: none!important;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1.5px solid #a5c6e3;
    padding: 0;
    padding-bottom: 15px;
    
 }


.nav {
    width:100%;
    grid-row: 2;
    grid-column: 1 /  15;
    font-family: 'Source Sans Pro', sans-serif;
    color: #809ab0;
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: none!important;
    list-style-type: none;
   
}

.nav:hover {
    color: #2B4963;
}






footer {
    width: 100%;
    background-color: #2B4963;
    grid-row: 6;
    grid-column: 1 / 15;
    margin-bottom: -10px;
    margin-top: 8px;
}

.footertext1 {
    color: white;
    text-align: center;
    font-size: 1rem;
}

i {
    color: #a5c6e3;
    float: center;
    margin-top: -200px;
   
}



.subtitle {
    grid-row: 3;
    grid-column: 1 / 15;
    text-align: center;
    margin-top: 20px;
}


.team1 {
    grid-row: 4;
    grid-column: 1 / 5;
    text-align: center;
}

.team2 {
    grid-row: 4;
    grid-column: 6 / 10;
    text-align: center;
}

.team3 {
    grid-row: 4;
    grid-column: 11 / 15;
    text-align: center;
}

.team4 {
    grid-row: 5;
    grid-column: 1 / 5;
    text-align: center;
}

.team5 {
    grid-row: 5;
    grid-column: 6 / 10;
    text-align: center;
}

.team6 {
    grid-row: 5;
    grid-column: 11 / 15;
    text-align: center;
}



.pic1{
    max-width: 100%;
    height: auto;
    display:grid;
    justify-content: center;
}


.pic2{
    max-width: 100%;
    height: auto;
    display:grid;
    justify-content: center;
}

.pic3{
    max-width: 100%;
    height: auto;
    display:grid;
    justify-content: center;
}

.pic4{
    max-width: 100%;
    height: auto;
    display:grid;
    justify-content: center;
}

.pic5{
    max-width: 100%;
    height: auto;
    display:grid;
    justify-content: center;
    
}

.pic6{
    max-width: 100%;
    height: auto;
    display:grid;
    justify-content: center;
}







@media only screen and (max-width: 767px) {
    .container {
     display: grid;
     height: 100vh;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     grid-template-rows: 80px 50px 100px 350px 350px 350px 350px 350px 350px 105px;
    }
 
    
 
    header {
     background: #a5c6e3;
     color: white;
     text-align: center;
     grid-row: 1;
     grid-column: 1 / 14;
    }
 
    h1 {
     font-size: 1.75rem;
     text-decoration: none;
     font-weight: 700;
    }
 
    h3 {
     font-size: 1.5rem;
    }
 
    h2 {
        font-size: 1.5rem;
    }
 
    p {
     font-weight: 400;
     font-size: .7rem;
    }
 
    footer {
        grid-row: 10;
        grid-column: 1 / 14;
    }
 
 




    .team1 {
        grid-row: 4;
        grid-column: 1 / 15;
        text-align: center;
    }
    
    .team2 {
        grid-row: 5;
        grid-column: 1 / 15;
        text-align: center;
    }
    
    .team3 {
        grid-row: 6;
        grid-column: 1 / 15;
        text-align: center;
    }
    
    .team4 {
        grid-row: 7;
        grid-column: 1 / 15;
        text-align: center;
    }
    
    .team5 {
        grid-row: 8;
        grid-column: 1 / 15;
        text-align: center;
    }
    
    .team6 {
        grid-row: 9;
        grid-column: 1 / 15;
        text-align: center;
    }


    .nav {
        font-size: .85rem;
    }
    

 
 
 }